{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
{% endif %}
{% if form %}
<div>
    <div>
        {% if profile_model %}
        {% for pro in profile_model %}
            <img src="{{ pro.image.url }}">
        {% endfor %}
        {% endif %}
    </div>
    <form method="post" action="{% url 'account:profile_update' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" name="submit" class="btn btn-info"/>
        <a href="{% url 'account:reset_password' %}" class="btn btn-info">reset password</a>
    </form>
</div>
{% endif %}
{% endblock content %}