{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
{% endif %}
{% if form %}
<div>
    <div>
        {% if profile.avatar %}
            <img src="{{profile.avatar.url}}" class="rounded mx-auto d-block p-2" alt="profile image" width="400" height="200">
            <!-- <img src="" width="500" height="300" alt="profile image"> -->
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" name="submit" class="btn btn-info"/>
        <a href="{% url 'account:reset_password' %}" class="btn btn-info">reset password</a>
    </form>
</div>
{% endif %}
{% endblock content %}