{% extends 'base.html' %}
{% block title %}
	<title>{{job_detail.company_name}}</title>
{% endblock %}

{% block content %}
<h3>job description</h3>

{% if job_detail.image %}
	<img src="{{ job_detail.image.url }}" style="width:600px;height:300px;border-radius:10px;" alt="image">
{% else %}
	<img src="https://imgs.search.brave.com/sxd13nVihYQN1LwLCDFG79slkCnOOBeGe0Uu_xRtGfU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9maWxl/cy5yZWFscHl0aG9u/LmNvbS9tZWRpYS9D/dXN0b21pemluZy10/aGUtRGphbmdvLUFk/bWluX1dhdGVybWFy/a2VkLjkzYTYxODgw/ZDE1NS5qcGc" style="width:600px;height:300px;border-radius:10px;" alt="img">
{% endif %}
<p>{{job_detail.company_name}}</p>
<p>{{job_detail.job_title}}</p>
<p>{{job_detail.phone}}</p>
<p>{{job_detail.address}}</p>
<p>{{job_detail.website}}</p>
<p>{{job_detail.email}}</p>
<p>{{job_detail.description}}</p>
<p>{{job_detail.user}}</p>



{% if job_detail.user == request.user %}
	<a href="{% url 'jobs:updatejob' job_detail.slug %}" class="btn btn-primary">update</a>
	<a href="{% url 'jobs:jobdelete' job_detail.slug %}" class="btn btn-primary">remove</a>
{% endif %}

{% endblock %}	
